.navbar{
    flex:100%;
    height:10vh;
    background:rgba(0, 0, 0, 0.5);
    justify-content:space-between;
    display:flex;
}
.text{
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
    font-size:20px;
    margin:20px 10px;
}
.navlinks{
    display:flex;
    float:left;
    margin:20px 20px;
}
.navlinks li{
    color:white;
    list-style:none;
    margin:0 30px;
    font-size:13px;
    cursor:pointer;
}

.navlinks li:hover{
    text-decoration:underline;
}
.orange{
    color:rgb(201, 97, 12);
}
.white{
    color:white;
}
@media screen and (max-width:480px){
    .navbar{
        flex:100%;
        height:10vh;
        background:rgba(0, 0, 0, 0.5);
        display:flex;
    }
.text{
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
    font-size:20px;
    margin:20px 10px;
    position:absolute;
    right:10px;
    }

.navlinks{
    display:flex;
    flex-direction:column;
    height:100vh;
    overflow-y:hidden;
    background:black;
    position:absolute;
    margin:0;
    padding:42px 0;
}

.navlinks li{
    display:flex;
    flex-direction:column;
    float:left;
    margin:70px 30px;
}
}